# --- SEGURIDAD (CRÍTICO) ---
google-services.json

# --- Compilación y Temporales ---
*.iml
.gradle
/local.properties
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab

# --- Android Studio (Ruido) ---
# Bloquea toda la carpeta de configuración del IDE
.idea/

# --- Gradle Wrapper y Scripts (Opcional: Agrégalo si quieres ahorrar espacio al subir) ---
gradle/wrapper/
gradlew
gradlew.bat